<script type="text/template" id="services-tpl">
  <!-- <ul class="up_services"> -->
    <li><a href="#!/rehab"></a></li>
    <li><a href="#!/rxcart"></a></li>
    <li><a href="#!/vsr"></a></li>
  <!-- </ul> -->
</script>