<div class="up_header">
  <a href="/"></a>
</div>

<ul class="up_nav">
  <li><a href="/login/destroy">HOME</a></li>
  <li><a href="/login/destroy">LOGOUT</a></li>
</ul>

<div class="up_main">
<!--
  <ul class="up_services">
    <li><a href="#/rehab"></a></li>
    <li><a href="#/rxcart"></a></li>
    <li><a href="#/vsr"></a></li>
  </ul>
-->
</div>

<div class="up_custom">
  <h2>Choose a Trigger</h2>
  <ul class="up_custom_layers">
    <li>
      <div class="up_custom_layers_header">A New Sales Transaction</div>
      <div class="up_custom_layers_content">This event occurs when some sells a product to a customer using the Vend POS system
      </div>
    </li>
    <li>
      <div class="up_custom_layers_header">A product is Returned and / or Refunded</div>
      <div class="up_custom_layers_content">This even occurs when a customer returns a product and is optionally refunded
      </div>
    </li>
    <li>
      <div class="up_custom_layers_header">Inventory is Received</div>
      <div class="up_custom_layers_content">This event occurs when inventory is received
      </div>
    </li>
  </ul>
</div>

<div class="footer">
  <p>&copy; <%= Time.now.year %> North Coast Medical Inc. All rights reserved.</p>
</div>
