/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body, html {
  margin: 0;
  padding: 0;
  height: 100%;
 }

h2 {
  color: #333;
  font-family: "MyriadPro-Bold", arial, sans-serif;
  font-size: 24px;
  text-align: center;
}

.up_header {
  background: image-url('header-swoosh.jpg') no-repeat;
  height: 134px;
  a {
    display: inline-block;
    outline: none;
    background: image-url("logo.png") no-repeat;
    background-size: 133px 49px;
    width: 133px;
    height: 49px;
    margin: 35px 0 0 25px;
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {
      &[href*="rehab"] {
        background-image: image-url("logo-2x.png");
      }
    }
  }
}

.up_nav {
  font-family: arial, sans-serif;
  text-align: right;
  padding: 0;
  margin: 0;
  list-style-type: none;
  height: 25px;
  li {
    display: inline-block;
    border-right: 1px solid #c1c1c1;
    font-size: 16px;
    a {
      color: #013f5f;
      font-weight: bold;
      height: 25px;
      line-height: 25px;
      margin: 0 15px;
      text-decoration: none;
      outline: none;
      &:hover, &.active {
        color: #d30203;
      }
    }
    &:last-of-type {
      border-right: none;
    }
  }
}

.up_main {
  height: calc(100% - 224px);
  text-align: center;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.up_services {
  font-family: arial, sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
  li {
    display: inline-block;
    a {
      display: block;
      margin: 0 15px;
      text-decoration: none;
      outline: none;
      width: 107px;
      height: 107px;
      background-size: 107px 107px;
      background-repeat: no-repeat;
      &[href*="rehab"] {
        background-image: image-url("rehab-logo.png");
        background-size: 131px 131px;
        width: 131px;
        height: 131px;
      }
      &[href*="rxcart"] {
        background-image: image-url("rxcart-logo.png");
      }
      &[href*="vsr"] {
        background-image: image-url("vsr-logo.png");
      }
      @media
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (   min--moz-device-pixel-ratio: 2),
      only screen and (     -o-min-device-pixel-ratio: 2/1),
      only screen and (        min-device-pixel-ratio: 2),
      only screen and (                min-resolution: 192dpi),
      only screen and (                min-resolution: 2dppx) {
        &[href*="rehab"] {
          background-image: image-url("rehab-2x-logo.png");
        }
        &[href*="rxcart"] {
          background-image: image-url("rxcart-2x-logo.png");
        }
        &[href*="vsr"] {
          background-image: image-url("vsr-2x-logo.png");
        }
      }
    }
  }
}

.up_custom {
  h2 {
    margin-bottom: 25px;
    margin-top: 45px;
  }
}

.up_custom_layers > li {
  border-color: #b0bbbf;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px 1px 5px;
  cursor: pointer;
  display: inline-block;
  height: 215px;
  list-style: outside none none;
  margin: 25px;
  overflow: hidden;
  width: 352px;
}

.up_custom_layers_header {
  background: #b0bbbf none repeat scroll 0 0;
  color: #fff;
  font-family: "MyriadPro-Bold", arial, sans-serif;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
}

.up_custom_layers_content {
  color: #333;
  display: table-cell;
  font-family: "MyriadPro-Regular", arial, sans-serif;
  font-size: 16px;
  height: 155px;
  padding-left: 13px;
  padding-right: 13px;
  text-align: center;
  vertical-align: middle;
}

.footer {
  color: #333;
  font-family: arial,sans-serif;
  font-size: 0.75em;
  margin-bottom: 30px;
  margin-right: 28px;
  text-align: right;
  height: 35px;
}