@font-face {
  font-family: 'MyriadPro-Semibold';
  src: asset-url('MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
      asset-url('MyriadPro-Semibold.otf')  format('opentype'),
       asset-url('MyriadPro-Semibold.woff') format('woff'),
       asset-url('MyriadPro-Semibold.ttf')  format('truetype'),
       asset-url('MyriadPro-Semibold.svg#MyriadPro-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: asset-url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
       asset-url('MyriadPro-Regular.otf')  format('opentype'),
       asset-url('MyriadPro-Regular.woff') format('woff'),
       asset-url('MyriadPro-Regular.ttf')  format('truetype'),
       asset-url('MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Bold';
  src: asset-url('fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
       asset-url('MyriadPro-Bold.otf')  format('opentype'),
       asset-url('MyriadPro-Bold.woff') format('woff'),
       asset-url('MyriadPro-Bold.ttf')  format('truetype'),
       asset-url('MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}